<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Projet_JEE</display-name>
  <welcome-file-list>
    <welcome-file>Connexion.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>Servlets.Connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>Servlets.Inscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/regit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Gestion_Articles</servlet-name>
    <servlet-class>Servlets.Gestion_Articles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gestion_Articles</servlet-name>
    <url-pattern>/items</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Ajouter_Article</servlet-name>
    <servlet-class>Servlets.Ajouter_Article</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajouter_Article</servlet-name>
    <url-pattern>/addItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Ajouter_Article2</servlet-name>
    <servlet-class>Servlets.Ajouter_Article2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajouter_Article2</servlet-name>
    <url-pattern>/ajoutCorrect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Modifier_Article</servlet-name>
    <servlet-class>Servlets.Modifier_Article</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modifier_Article</servlet-name>
    <url-pattern>/modifierItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Modifier_Article2</servlet-name>
    <servlet-class>Servlets.Modifier_Article2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modifier_Article2</servlet-name>
    <url-pattern>/modificationCorrect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SupprimerArticle</servlet-name>
    <servlet-class>Servlets.SupprimerArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerArticle</servlet-name>
    <url-pattern>/deleteItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Afficher_Article</servlet-name>
    <servlet-class>Servlets.Afficher_Article</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Afficher_Article</servlet-name>
    <url-pattern>/showArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Afficher_Details_Commande</servlet-name>
    <servlet-class>Servlets.Afficher_Details_Commande</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Afficher_Details_Commande</servlet-name>
    <url-pattern>/showCommande</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Gestion_Commandes_Vendeur</servlet-name>
    <servlet-class>Servlets.Gestion_Commandes_Vendeur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gestion_Commandes_Vendeur</servlet-name>
    <url-pattern>/order</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Gestion_Commandes_Client</servlet-name>
    <servlet-class>Servlets.Gestion_Commandes_Client</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gestion_Commandes_Client</servlet-name>
    <url-pattern>/commande</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Gestion_Catalogue</servlet-name>
    <servlet-class>Servlets.Gestion_Catalogue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gestion_Catalogue</servlet-name>
    <url-pattern>/catalogue</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Traiter_Commande</servlet-name>
    <servlet-class>Servlets.Traiter_Commande</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Traiter_Commande</servlet-name>
    <url-pattern>/traiterCommande</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Ajouter_Article_Panier</servlet-name>
    <servlet-class>Servlets.Ajouter_Article_Panier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajouter_Article_Panier</servlet-name>
    <url-pattern>/ajouterPanier</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Consulter_Panier</servlet-name>
    <servlet-class>Servlets.Consulter_Panier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Consulter_Panier</servlet-name>
    <url-pattern>/panier</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>Passer_Commande</servlet-name>
    <servlet-class>Servlets.Passer_Commande</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Passer_Commande</servlet-name>
    <url-pattern>/passerCommande</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>Servlets.Deconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>path_image</param-name>
    <param-value>E:/Condorcet3IN01A 2018-2019/Quadri 1/Applications Informatiques/Projet/Programme/Projet_JEE/WebContent/images/</param-value>
  </context-param>
</web-app>